<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicle</title>
</head>
<body>
<div ng-controller="VehicleController">
    <div class="search-form">
        <div class="container main panel panel-info">
            <form class="">
                <div class="form-group">
                    <label for="search-location">Location:</label>
                    <input type="text" id="search-location" ng-model="vehicle.location" class="form-control"
                           placeholder="Location" googleplace
                           required>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="selectType">Type:</label>
                        <select id="selectType" ng-model="vehicle.CarTypeCode" class="form-control">
                            <option value="ECAR">Economy car</option>
                            <option value="CCAR">Compact car</option>
                            <option value="FCAR">Full-Size car</option>
                            <option value="FFAR">Full-Size SUV</option>
                            <option value="FFAR">Full-Size SUV</option>
                            <option value="ICAR">MidSize car</option>
                            <option value="IFAR">MidSize SUV</option>
                            <option value="LCAR">Luxury car</option>
                            <option value="MVAR">Minivan</option>
                            <option value="PCAR">Premium car</option>
                            <option value="SCAR">Standard car</option>
                            <option value="SFAR">Standard SUV</option>
                            <option value="SPAR">Standard pickup truck</option>
                            <option value="STAR">Convertible car</option>
                            <option value="SXAR">Special car</option>
                        </select>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="platenumber">Plate#:</label>
                        <input type="text" id="platenumber" ng-model="vehicle.platenumber" class="form-control"
                               placeholder="Eg: F62GBM" required>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-6">
                        <label for="mileageDesc">Mileage:</label>
                        <input type="text" id="mileageDesc" ng-model="vehicle.MileageDescription" class="form-control"
                               required>
                    </div>
                    <div class="form-group col-md-6">
                        <label for="dailyRate">Daily Rate:</label>
                        <input type="text" id="dailyRate" ng-model="vehicle.DailyRate" class="form-control" required>
                    </div>
                </div>
                <button ng-click="model.addVehicle(vehicle)" type="submit"
                        class="form-control btn btn-primary btn-block ng-scope">Add Vehicle
                </button>
            </form>
        </div>
    </div>
    <div class="container  main" ng-controller="VehicleController">

        <h3>GrabACar Vehicles</h3>
        <h6>Vehicles added by tellers</h6>
        <hr />

        <div class="transparent-input">
            <ul ng-repeat="vehicle in model.vehicles" class="list-unstyled">
                <li>
                    <div class="panel panel-default">
                        <div class="panel panel-body">
                            <div class="col-md-6">
                                <dl class="dl-horizontal">
                                    <dt>PlateNumber</dt>
                                    <dd>{{vehicle.platenumber}}</dd>
                                    <dt>CarTypeCode</dt>
                                    <dd>{{vehicle.CarTypeCode}}</dd>
                                    <dt>Mileage</dt>
                                    <dd>{{vehicle.MileageDescription}}</dd>
                                    <dt>Daily Rate</dt>
                                    <dd>{{vehicle.DailyRate}}</dd>
                                    <dt>Location</dt>
                                    <dd>{{vehicle.location}}</dd>
                                </dl>
                            </div>
                            <div class="col-md-4"></div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>