<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Vehicle</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="VehicleController">
    <h1 class="page-header">Vehicle</h1>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr class="text-nowrap">
                <th><span class="caret"></span>Type</th>
                <th><span class="caret"></span>Brand</th>
                <th><span class="caret"></span>Model</th>
                <th><span class="caret"></span>Plate#</th>
                <th><span class="caret"></span>Seats</th>
                <th><span class="caret"></span>Condtion</th>
                <th><span class="caret"></span>Action</th>
            </tr>
            <tr>
                <td><input type="text" ng-model="model.vehicle.type" class="form-control" placeholder="Type"></td>
                <td><input type="text" ng-model="model.vehicle.brand" class="form-control" placeholder="Brand"></td>
                <td><input type="text" ng-model="model.vehicle.model" class="form-control" placeholder="Model"></td>
                <td><input type="text" ng-model="model.vehicle.platenumber" class="form-control" placeholder="Plate Number">
                </td>
                <td><input type="text" ng-model="model.vehicle.seatquantity" class="form-control" placeholder="Seats">
                </td>
                <td><input type="text" ng-model="model.vehicle.condition" class="form-control" placeholder="Condition">
                </td>
                <td class="text-nowrap">
                    <button ng-click="model.addForm(model.vehicle)" type="button" class="btn btn-primary">
                        Add</span>
                    </button>
                    <button ng-click="model.updateForm(model.vehicle)" type="button" class="btn btn-success">
                        Done</span>
                    </button>
                </td>
            </tr>
            <tr ng-repeat="vehicle in model.vehicles">
                <td class="text-left">{{vehicle.type}}</td>
                <td class="text-left">{{vehicle.brand}}</td>
                <td class="text-left">{{vehicle.model}}</td>
                <td class="text-left">{{vehicle.platenumber}}</td>
                <td class="text-right">{{vehicle.seatquantity}}</td>
                <td class="text-left">{{vehicle.condition}}</td>
                <td class="text-nowrap">
                    <button ng-click="model.deleteForm(vehicle)" class="btn btn-danger">
                        Delete</span>
                    </button>
                    <button ng-click="model.selectForm($index)" class="btn btn-warning">
                        Edit</span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>