<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Teller</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container main" ng-controller="ApproveRentsController">
    <div class="">
        <ul ng-repeat="rent in model.rents" class="list-unstyled">
            <li>
                <div class="panel panel-default">
                    <div class="panel panel-body">
                        <div class="row">
                        <div class="col-md-6"><img ng-src="{{rent.carimage}}"
                                                   title="{{rent.platenumber}}">
                        </div>
                        <div class="col-md-6 ">
                            <dl class="dl-horizontal">
                                <dt>PlateNumber</dt>
                                <dd>{{rent.platenumber}}</dd>
                                <dt>RentDate</dt>
                                <dd>{{rent.rentdate | date:"MM/dd/yyyy"}}</dd>
                                <dt>DailyRentFee</dt>
                                <dd>{{rent.dailyrentfee | currency}}</dd>
                                <dt>DownPayment</dt>
                                <dd><input type="text" ng-model="rent.downpayment" class="form-control"></dd>
                                <dt>Refund</dt>
                                <dd><input type="text" ng-model="rent.refund" class="form-control"></dd>
                                <dt>TotalPrice</dt>
                                <dd><input type="text" ng-model="rent.totalprice" class="form-control"></dd>
                                <dt>Status</dt>
                                <dd>{{rent.status}}</dd>
                                <dt>Updated By</dt>
                                <dd><select class="form-control">
                                    <option ng-repeat="emp in rent.updatedby">{{emp.fullname}}</option>
                                </select></dd>
                            </dl>
                        </div>
                        <button ng-click="model.approve(rent)" class="btn btn-success"
                                ng-show="rent.status.indexOf('RESERVED') >= 0"
                                title="Approve">Approve
                        </button>
                        <label ng-show="rent.approved">Approved</label>
                        <button ng-click="model.update(rent)" class="btn btn-warning"
                                ng-show="rent.status.indexOf('RESERVED') >= 0"
                                title="Update info">Update
                        </button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
</body>
</html>