<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body ng-controller="MyReservationsController">
<div id="cardetails" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div id="mileage" ng-if="instance.MileageDescription"><img ng-src="../project/client/images/tick.jpg" height="25px" width="20px"> Mileage
        {{instance.MileageDescription}}
    </div>
    <div id="airport" ng-if="instance.PickupAirport"><img ng-src="../project/client/images/tick.jpg" height="25px"
                                                          width="20px"> {{instance.PickupAirport}} Airport
    </div>
    <div id="location" ng-if="instance.LocationDescription"><img ng-src="../project/client/images/tick.jpg" height="25px" width="20px">
        {{instance.LocationDescription}}
    </div>

    <div id="dailyrate">${{instance.DailyRate}} / day</div>

    <div id="carimg"><img ng-src="{{instance.carImage}}"></div>
    <div id="pickup">PickUp: {{instance.PickupDay}}</div>
    <div id="dropoff">DropOff: {{instance.DropoffDay}}</div>

    <div class="search-form">
        <div class="panel panel-warning">
            <div class="panel panel-heading">Status: Confirmed</div>
            <div class="panel panel-body">
                <div>
                    <dl class="dl-horizontal">
                        <dt>Rental Days</dt>
                        <dd>{{instance.RentalDays}}</dd>
                        <dt>DailyRate</dt>
                        <dd>${{instance.DailyRate}}</dd>
                        <dt>SubTotal</dt>
                        <dd>${{instance.SubTotal}}</dd>
                        <dt>TaxesAndFees</dt>
                        <dd>${{instance.TaxesAndFees}}</dd>
                        <dt>TotalPrice</dt>
                        <dd>${{instance.TotalPrice}}</dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>