<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Profile</title>
</head>
<body ng-controller="ProfileController">

<div class="col-sm-9  col-md-10  main">
    <h1 class="page-header">Profile</h1>

    <div class="panel panel-default" ng-show="model.activeUser.rentername">
        <div class="panel panel-body">
            <div class="col-md-6"><img ng-src="../project/client/images/userimage.jpg"
                                       title="{{user.firstName}}">
            </div>
            <div class="col-md-6 approveUsersList">
                <dl class="dl-horizontal">
                    <dt>Password</dt>
                    <dd><input type="password" ng-model="userInfo.password" class="form-control"></dd>
                    <dt>First Name</dt>
                    <dd><input type="text" ng-model="model.activeUser.firstName" class="form-control"></dd>
                    <dt>Last Name</dt>
                    <dd><input type="text" ng-model="model.activeUser.lastName" class="form-control"></dd>
                    <dt>BirthDate</dt>
                    <dd ng-if="model.activeUser.birthdate">{{model.activeUser.birthdate | date:'MM/dd/yyyy'}}</dd>
                    <dd ng-hide="model.activeUser.birthdate"><input type="date" ng-model="userInfo.birthdate"
                                                                    class="form-control"></dd>
                    <dt>Email</dt>
                    <dd><input type="email" ng-model="model.activeUser.email" class="form-control"></dd>
                    <dt>DrivingLicense#</dt>
                    <dd ng-if="model.activeUser.licenseNumber">{{model.activeUser.licenseNumber}}</dd>
                    <dd ng-hide="model.activeUser.licenseNumber"><input type="text"
                                                                        ng-model="userInfo.licenseNumber"
                                                                        class="form-control"></dd>
                    <dt>Country Issued</dt>
                    <dd ng-if="model.activeUser.licenseCountry">{{model.activeUser.licenseCountry}}</dd>
                    <dd ng-hide="model.activeUser.licenseCountry"><input type="text"
                                                                         ng-model="userInfo.licenseCountry"
                                                                         class="form-control"></dd>
                    <dt>Status</dt>
                    <dd>{{model.activeUser.status}}</dd>
                </dl>
            </div>
            <div class="row text-nowrap">
                <div class="col-md-4"></div>
                <div class="col-md-5">
                    <button type="submit" ng-click="model.update(userInfo)" class="btn btn-warning"
                            title="Update info">Update
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="panel panel-default" ng-show="model.activeUser.username">
        <div class="panel panel-body">
            <div class="col-md-6"><img ng-src="../project/client/images/userimage.jpg"
                                       title="{{model.user.firstName}}">
            </div>
            <div class="col-md-6 approveUsersList">
                <dl class="dl-horizontal">
                    <dt>Name</dt>
                    <dd>{{model.user.firstName}} {{model.user.lastName}}</dd>
                    <dt>BirthDate</dt>
                    <dd>{{model.user.birthdate | date:'MM/dd/yyyy'}}</dd>
                    <dt>Email</dt>
                    <dd>{{model.user.email}}</dd>
                    <dt>DrivingLicense#</dt>
                    <dd>{{model.user.licenseNumber}}</dd>
                    <dt>Issued</dt>
                    <dd>{{model.user.licenseCountry}}</dd>
                    <dt>Status</dt>
                    <dd>{{model.user.status}}</dd>
                </dl>
            </div>
        </div>
    </div>
    <hr/>
    <h3 class="page-header">Reservations</h3>
    <label ng-if="model.reservations.length==0">No history found</label>
    <div class="container-fluid table-responsive hidden-xs" ng-if="model.reservations.length>0">
        <table class="table table-hover">
            <tr class="text-nowrap">
                <th>PlateNumber</th>
                <th>Pick up Date</th>
                <th>Return Date</th>
                <th>Reservation Date</th>
                <th>Status</th>
            </tr>
            <tr ng-repeat="reservation in model.reservations" ng-class="model.rowStatus(reservation)">
                <td>{{reservation.platenumber}}</td>
                <td>{{reservation.pickupdate | date:'MM/dd/yyyy'}}</td>
                <td>{{reservation.returndate | date:'MM/dd/yyyy'}}</td>
                <td>{{reservation.reservationdate | date:'MM/dd/yyyy'}}</td>
                <td>
                    <a href="" ng-click="model.open('/myReservations/'+reservation.rentid)"
                       title="Click to view details">
                        <span class="glyphicon glyphicon-new-window"></span> {{reservation.status}}
                    </a>
                </td>
            </tr>
        </table>
    </div>

    <div class="panel panel-default visible-xs">
        <div class="panel panel-body" ng-repeat="reservation in model.reservations">
            <div class="col-md-6">
            </div>
            <div class="col-md-6 approveUsersList">
                <dl class="dl-horizontal">
                    <dt>PlateNumber</dt>
                    <dd>{{reservation.platenumber}}</dd>
                    <dt>Pickup Date</dt>
                    <dd>{{reservation.pickupdate | date:'MM/dd/yyyy'}}</dd>
                    <dt>Return Date</dt>
                    <dd>{{reservation.returndate  | date:'MM/dd/yyyy'}}</dd>
                    <dt>Reservation Date</dt>
                    <dd>{{reservation.reservationdate | date:'MM/dd/yyyy'}}</dd>
                    <dt>Status</dt>
                    <dd><a href="" ng-click="model.open('/myReservations/'+reservation.rentid)"
                           title="Click to view details">
                        <span class="glyphicon glyphicon-new-window"></span> {{reservation.status}}
                    </a></dd>
                </dl>
            </div>
        </div>
    </div>
</div>

</body>
</html>