<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.0.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="../../css/dashboard.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li class="active"><a href="../home/home.view.html">Home <span class="sr-only">(current)</span></a></li>
                <li><a href="../users/profile.view.html">Profile</a></li>
                <li><a href="../admin/admin.view.html">Admin</a></li>
                <li><a href="../admin/forms.view.html">Forms</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>