<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form fields</title>
</head>
<body>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="FieldController">
    <h1 class="page-header">Forms: Registration Form</h1>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/forms">Forms</a></li>
        <li class="active" role="presentation"><a href="#">Fields</a></li>
    </ul>
    <div class="table table-responsive">
        <table class="table table-condensed">
            <tbody id="tbody-sortable" jga-sortable jga-axis="y" class="ui-sortable">

            <tr ng-repeat="field in fields">
                <td>
                    <div class="col-xs-5">
                        <div ng-switch on="field.type">
                            <label for="textBox" ng-switch-when="TEXT">{{field.label}}</label>
                            <input class="form-control" id="textBox" ng-switch-when="TEXT" type="text"
                                   placeholder="{{field.placeholder}}">

                            <label for="email" ng-switch-when="EMAIL">{{field.label}}</label>
                            <input class="form-control" id="email" ng-switch-when="EMAIL" type="email"
                                   placeholder="{{field.placeholder}}">

                            <label for="textArea" ng-switch-when="TEXTAREA">{{field.label}}</label>
                            <textarea class="form-control" type="text" id="textArea"
                                      ng-switch-when="TEXTAREA"></textarea>

                            <label for="dateField" ng-switch-when="DATE">{{field.label}}</label>
                            <input class="form-control" type="date" ng-switch-when="DATE" id="dateField">

                            <label for="optionsField" ng-switch-when="OPTIONS">{{field.label}}</label>

                            <select class="form-control" ng-switch-when="OPTIONS" id="optionsField">
                                <option ng-repeat="op in field.options" value="op.value">{{op.label}}</option>
                            </select>

                            <label ng-switch-when="CHECKBOXES">{{field.label}}</label>
                            <div ng-repeat="option in field.options" ng-switch-when="CHECKBOXES">
                                <div id="checkbox" class="checkbox">
                                    <label>
                                        <input  type="checkbox" value="{{option.value}}">{{option.value}}
                                    </label>
                                    </div>
                            </div>

                            <label ng-switch-when="RADIOS">{{field.label}}</label>
                            <div ng-repeat="option in field.options" ng-switch-when="RADIOS">
                                <div class="radio">
                                    <label for="radio">{{field.label}}
                                        <input id="radio" type="radio" value="{{option.value}}">{{option.value}}
                                    </label>
                                </div>
                            </div>

                        </div>

                    </div>
                    <div class="col-xs-7 text-nowrap" align="right">
                        <button class="btn btn-warning btn-xs" data-toggle="modal" data-target="#myModal"
                                ng-click="selectField(field)" aria-hidden="true">
                            <span class="glyphicon glyphicon-pencil"></span>
                        </button>
                        <button class="btn btn-primary btn-xs" aria-hidden="true">
                            <span class="glyphicon glyphicon-plus"></span>
                        </button>
                        <button ng-click="removeField(field)" class="btn btn-danger btn-xs"
                                aria-hidden="true">
                            <span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <a href="#" class="sortingHandle" aria-hidden="true">
                            <span class="glyphicon glyphicon-option-vertical "></span>
                        </a>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <!-- Modal -->
    <div id="myModal" class="modal fade" role="dialog">
        <div class="modal-dialog">
            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <div ng-switch on="modalFieldType.type">
                        <h4 class="modal-title" ng-switch-when="TEXT">Single Line Field</h4>
                        <h4 class="modal-title" ng-switch-when="EMAIL">Email Field</h4>
                        <h4 class="modal-title" ng-switch-when="TEXTAREA">Multi Line Field</h4>
                        <h4 class="modal-title" ng-switch-when="DATE">Date Field</h4>
                        <h4 class="modal-title" ng-switch-when="OPTIONS">Dropdown Field</h4>
                        <h4 class="modal-title" ng-switch-when="CHECKBOXES">Checkbox Field</h4>
                        <h4 class="modal-title" ng-switch-when="RADIOS">Radio Button Field</h4>
                    </div>
                </div>
                <div class="modal-body">
                    <div ng-switch on="modalFieldType.type">
                        <div class="form-group">
                            <!--TEXT-->
                            <label for="modalTextBox" ng-switch-when="TEXT">Label:</label>
                            <input id="modalTextBox" class="form-control" ng-switch-when="TEXT" type="text"
                                   ng-model="updated.txtLabel">
                            <label for="modalTextBox1" ng-switch-when="TEXT">Placeholder:</label>
                            <input id="modalTextBox1" class="form-control" ng-switch-when="TEXT" type="text"
                                   ng-model="updated.txtPlaceholder">

                            <label for="modalEmail" ng-switch-when="EMAIL">Label:</label>
                            <input id="modalEmail" class="form-control" ng-switch-when="EMAIL" type="text"
                                   ng-model="updated.txtLabel">
                            <label for="modalEmail1" ng-switch-when="EMAIL">Placeholder:</label>
                            <input id="modalEmail1" class="form-control" ng-switch-when="EMAIL" type="email"
                                   ng-model="updated.txtPlaceholder">

                            <!--TEXTAREA-->
                            <label for="modalTextBox2" ng-switch-when="TEXTAREA">Label:</label>
                            <input id="modalTextBox2" class="form-control" ng-switch-when="TEXTAREA" type="text"
                                   ng-model="updated.txtLabel">
                            <label for="modalTextBox3" ng-switch-when="TEXTAREA">Placeholder:</label>
                            <input id="modalTextBox3" class="form-control" ng-switch-when="TEXTAREA" type="text"
                                   ng-model="updated.txtPlaceholder">

                            <!--Date-->
                            <label for="modalDate" ng-switch-when="DATE">Label:</label>
                            <input id="modalDate" class="form-control" ng-switch-when="DATE" type="text"
                                   ng-model="updated.txtLabel">

                            <!--Dropdown Field-->
                            <label for="modalDropdown" ng-switch-when="OPTIONS">Label:</label>
                            <input id="modalDropdown" class="form-control" ng-switch-when="OPTIONS"
                                   ng-model="updated.txtLabel" type="text"/>
                            <label for="modalDropdown1" ng-switch-when="OPTIONS">Options:</label>
                            <textarea id="modalDropDown1" class="form-control" ng-switch-when="OPTIONS"
                                      ng-model="modalFieldType.options"></textarea>

                            <!--Checkboxes-->
                            <label for="modalCheckbox" ng-switch-when="CHECKBOXES">Label:</label>
                            <input id="modalCheckbox" class="form-control" ng-switch-when="CHECKBOXES"
                                   ng-model="updated.txtLabel" type="text"/>
                            <label for="modalCheckbox1" ng-switch-when="CHECKBOXES">Options:</label>
                            <textarea id="modalCheckbox1" class="form-control" ng-switch-when="CHECKBOXES"
                                      ng-model="modalFieldType.options"></textarea>

                            <!--Radios-->
                            <label for="modalRadio" ng-switch-when="RADIOS">Label:</label>
                            <input id="modalRadio" class="form-control" ng-switch-when="RADIOS"
                                   ng-model="updated.txtLabel" type="text"/>
                            <label for="modalRadio1" ng-switch-when="RADIOS">Options:</label>
                            <textarea id="modalRadio1" class="form-control" ng-switch-when="RADIOS"
                                      ng-model="modalFieldType.options"></textarea>

                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="updateField(updated)">
                        Ok
                    </button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close
                    </button>
                </div>
            </div>

        </div>
    </div>
    <hr>
    <label for="options">Add New Field:</label>
    <div class="row">
        <div class="form-group col-xs-5">
            <select id="options" class="form-control" ng-model="fieldType">
                <option value="Single Line Text"><a href="#">Single Line Text</a></option>
                <option value="Date"><a href="#">Date</a></option>
                <option value="DropDown"><a href="#">DropDown</a></option>
                <option value="Checkboxes"><a href="#">Checkboxes</a></option>
                <option value="Radio buttons"><a href="#">Radio buttons</a></option>
                <option value="Paragraph Text Field"><a href="#">Paragraph Text Field</a></option>
            </select>
        </div>
        <div class="col-xs-7" align="right">
            <button ng-click="addField(fieldType)" class="glyphicon glyphicon-plus btn btn-primary btn-xs "
                    aria-hidden="true"></button>
        </div>
    </div>

</div>


</body>
</html>