<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form fields</title>
</head>
<body>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="FieldController">
    <h1 class="page-header">Forms: Registration Form</h1>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/forms">Forms</a></li>
        <li class="active" role="presentation"><a href="#">Fields</a></li>
    </ul>
    <table class="table">
        <tbody id="tbody-sortable" jga-sortable jga-axis="y" class="ui-sortable">

        <tr ng-repeat="field in fields">
            <td>
                <div class="col-xs-5">
                    <div ng-switch on="field.type">
                        <label for="textBox" ng-switch-when="TEXT">{{field.label}}</label>
                        <input class="form-control" id="textBox" ng-switch-when="TEXT" type="text"
                               placeholder="{{field.placeholder}}">

                        <label for="textArea" ng-switch-when="TEXTAREA">{{field.label}}</label>
                                <textarea class="form-control" type="text" id="textArea"
                                          ng-switch-when="TEXTAREA"></textarea>

                        <label for="dateField" ng-switch-when="DATE">{{field.label}}</label>
                        <input class="form-control" type="date" ng-switch-when="DATE" id="dateField">

                        <label for="optionsField" ng-switch-when="OPTIONS">{{field.label}}</label>

                        <select class="form-control" ng-switch-when="OPTIONS" id="optionsField">
                            <option ng-repeat="op in field.options" value="op.value">{{op.label}}</option>
                        </select>

                        <label ng-switch-when="CHECKBOXES" ng-repeat="option in field.options">
                            <input type="checkbox" value="{{option.value}}">{{option.value}}
                        </label>

                        <label ng-switch-when="RADIOS" ng-repeat="option in field.options">
                            <input type="radio" value="{{option.value}}">{{option.value}}
                        </label>
                        <!-- Modal -->
                        <div id="myModal" class="modal fade" role="dialog">
                            <div class="modal-dialog">
                                <!-- Modal content-->
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">&times;</button>
                                        <div ng-switch on="modalFieldType.type">
                                            <h4 class="modal-title" ng-switch-when="TEXT">Single Line Field</h4>
                                            <h4 class="modal-title" ng-switch-when="TEXTAREA">Multi Line Field</h4>
                                            <h4 class="modal-title" ng-switch-when="DATE">Date Field</h4>
                                            <h4 class="modal-title" ng-switch-when="OPTIONS">Dropdown Field</h4>
                                            <h4 class="modal-title" ng-switch-when="CHECKBOXES">Checbox Field</h4>
                                            <h4 class="modal-title" ng-switch-when="RADIOS">Radio Button Field</h4>
                                        </div>
                                    </div>
                                    <div class="modal-body">
                                        <div ng-switch on="modalFieldType.type">
                                            <label for="modalTextBox" ng-switch-when="TEXT">Label:</label>
                                            <input id="modalTextBox" ng-switch-when="TEXT" type="text"
                                                   ng-model="updated.txtLabel">
                                            <label for="modalTextBox1" ng-switch-when="TEXT">Placeholder:</label>
                                            <input id="modalTextBox1" ng-switch-when="TEXT" type="text"
                                                   ng-model="updated.txtPlaceholder">

                                            <!--TEXTAREA-->
                                            <label for="modalTextBox2" ng-switch-when="TEXTAREA">Label:</label>
                                            <input id="modalTextBox2" ng-switch-when="TEXTAREA" type="text"
                                                   ng-model="updated.txtLabel">
                                            <label for="modalTextBox3" ng-switch-when="TEXTAREA">Placeholder:</label>
                                            <input id="modalTextBox3" ng-switch-when="TEXTAREA" type="textarea"
                                                   ng-model="updated.txtPlaceholder">

                                            <!--Date-->
                                            <label for="modalDate" ng-switch-when="DATE">Label:</label>
                                            <input id="modalDate" ng-switch-when="DATE" type="text"
                                            >

                                            <!--Dropdown Field-->
                                            <label for="modalDropdown" ng-switch-when="OPTIONS">Label:</label>
                                            <input id="modalDropdown" ng-switch-when="OPTIONS" type="text"
                                                   placeholder="Select Car Model">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" ng-click="updateSelectedField(updated)" data-dismiss="modal">Ok
                                        </button>
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Close
                                        </button>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-xs-7" align="right">
                    <button class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#myModal"
                            ng-click="selectField(field)" aria-hidden="true"></button>
                    <button class="glyphicon glyphicon-plus " aria-hidden="true"></button>
                    <button ng-click="removeField(field)" class="glyphicon glyphicon-remove "
                            aria-hidden="true"></button>
                    <a href="#" class="sortingHandle" aria-hidden="true">
                        <span class="glyphicon glyphicon-menu-hamburger "></span>
                    </a>
                </div>
            </td>
        </tr>
        </tbody>
    </table>
    <hr>
    <label for="options">Add New Field:</label>
    <div class="row">
        <div class="form-group col-xs-5">
            <select id="options" class="form-control">
                <option><a href="#">Single Line Text</a></option>
                <option><a href="#">Date</a></option>
                <option><a href="#">DropDown</a></option>
                <option><a href="#">Checkboxes</a></option>
                <option><a href="#">Radio buttons</a></option>
                <option><a href="#">Paragraph Text Field</a></option>
            </select>
        </div>
        <div class="col-xs-7" align="right">
            <button ng-click="addField(model.fieldType)" class="glyphicon glyphicon-plus "
                    aria-hidden="true"></button>
        </div>
    </div>

</div>


</body>
</html>