<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Forms</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="FormController">
    <h1 class="page-header">Forms</h1>
    <ul class="nav nav-tabs">
        <li class="active" role="presentation"><a href="#">Forms</a></li>
        <li role="presentation"><a href="#/fields">Fields</a></li>
    </ul>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th><span class="caret"></span>Form</th>
                <th><span class="caret"></span>Action</th>
            </tr>
            <tr>
                <td><input type="text" ng-model="form.title" class="form-control" placeholder="name"></td>
                <td>
                    <button class="btn btn-primary" ng-click="addForm(form)" type="button">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-success" ng-click="updateForm(form)" type="button">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            <tr ng-repeat="form in forms">
                <td><a href="#/form/{{form._id}}/fields">{{form.title}}</a></td>
                <td>
                    <button class="btn btn-danger" ng-click="deleteForm(form)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button class="btn btn-warning"  ng-click="selectForm($index)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>