<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>
<div class="container-fluid" ng-controller="SidebarController">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li ng-class="{'active' : $location.url()=='/users'}"><a href="#/users"> Renter </a></li>
                <li ng-class="{'active': $location.url()=='/tellers'}">
                    <a href="#/tellers">Teller</a></li>
                <li ng-class="{'active': $location.url()=='/reservations'}">
                    <a href="#/reservations"> Reservation </a></li>
                <li ng-class="{'active': $location.url()=='/vehicles'}">
                    <a href="#/vehicles"> Car </a></li>
                <li ng-class="{'active': $location.url()=='/search'}" >
                    <a href="#/search"> Find cars</a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>

