<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>
<div class="container-fluid" ng-controller="SidebarController">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar" ng-show="user">
            <ul class="nav nav-sidebar">
                <li ng-class="{'active': $location.url()=='/search'}" ng-show="user.status.indexOf('Approved')==0 || user.username">
                    <a href="#/search"> Find cars</a></li>
                <li ng-class="{'active': $location.url()=='/admin'}">
                    <a href="#/admin" ng-show="user.username"> Approve New Renters </a></li>
                <li ng-class="{'active': $location.url()=='/vehicle'}" ng-show="user.username">
                    <a href="#/vehicle">Register Vehicle </a></li>
                <li ng-class="{'active': $location.url()=='/approverents'}">
                    <a href="#/approverents" ng-show="user.username"> Approve Rents </a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>

