<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>
<div class="container-fluid" ng-controller="SidebarController">
    <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
            <ul class="nav nav-sidebar">
                <li ng-class="{'active': $location.url()=='/search'}">
                    <a href="#/search"> Find cars</a></li>
                <li ng-class="{'active': $location.url()=='/admin'}">
                    <a href="#/admin" ng-show="user.roles.indexOf('admin') >= 0"> Approve New Renters </a></li>
                <li ng-class="{'active' : $location.url()=='/renter'}"><a href="#/renter"> Renter </a></li>
                <li ng-class="{'active': $location.url()=='/teller'}">
                    <a href="#/teller">Teller</a></li>
                <li ng-class="{'active': $location.url()=='/reservation'}">
                    <a href="#/reservation"> Reservation </a></li>
                <li ng-class="{'active': $location.url()=='/vehicle'}">
                    <a href="#/vehicle"> Vehicle </a></li>
            </ul>
        </div>
    </div>
</div>
</body>
</html>

