<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <h1 class="page-header">Admin</h1>
    <h2 class="page-header">Users</h2>
    <div class="table-responsive">
        <table class="table table-striped user">
            <tr>
                <th><a ng-click="model.sortUsername()">
                    <span ng-show="model.ascending" class="glyphicon glyphicon-triangle-top"></span>
                    <span ng-hide="model.ascending" class="glyphicon glyphicon-triangle-bottom"></span>
                </a>Username</th>
                <th><span class="caret"></span>Password</th>
                <th><span class="caret"></span>FirstName</th>
                <th><span class="caret"></span>LastName</th>
                <th><span class="caret"></span>Role</th>
                <th><span class="caret"></span>Action</th>
            </tr>
            <tr>
                <td><input type="text" class="form-control" ng-model="newUser.username" id="username" placeholder="Username"></td>
                <td><input type="password" class="form-control" ng-model="newUser.password" placeholder="Password"></td>
                <td><input type="password" class="form-control" ng-model="newUser.firstName" placeholder="FirstName"></td>
                <td><input type="password" class="form-control" ng-model="newUser.lastName" placeholder="LastName"></td>
                <td><input type="text" class="form-control" ng-model="newUser.roles" placeholder="Role1, Role2"></td>
                <td class="text-nowrap">
                    <button class="btn btn-primary" ng-click="model.addUser(newUser)" type="button">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                    <button class="btn btn-success" ng-click="model.updateUser(newUser)" type="button">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            <tr ng-repeat="user in model.users" ng-if="user.roles.indexOf('admin')==undefined || user.roles.indexOf('admin') < 0">
                <td><label>{{user.username}}</label></td>
                <td><label>{{user.password}}</label></td>
                <td><label>{{user.firstName}}</label></td>
                <td><label>{{user.lastName}}</label></td>
                <td class="text no-wrap"><label ng-repeat="role in user.roles">{{role}}{{$last ? '' : ', '}}</label></td>
                <td class="text-nowrap">
                    <button class="btn btn-danger" ng-click="model.deleteUser(user)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button class="btn btn-warning" ng-click="model.selectUser($index)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
            </tr>

        </table>
    </div>
</div>

</body>
</html>