<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Form fields</title>
    <script>
        $(function() {
            $( "#fields" ).sortable();
        });
    </script>
</head>
<body>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="FieldsController">
    <h1 class="page-header">Forms: Registration Form</h1>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/forms">Forms</a></li>
        <li class="active" role="presentation"><a href="#">Fields</a></li>
    </ul>

    <div class="form-group">
        <div id="fields" class="row" ng-repeat="field in model.fields">
            <div class="col-xs-5">
                <div ng-switch on="field.type">
                    <label for="textBox" ng-switch-when="TEXT">{{field.label}}</label>
                    <input type="text" id="textBox" ng-switch-when="TEXT" placeholder="field.placeholder">
                    <label for="textArea" ng-switch-when="TEXTAREA">{{field.label}}</label>
                    <textarea type="text" id="textArea" ng-switch-when="TEXTAREA"></textarea>
                    <label for="dateField" ng-switch-when="DATE">{{field.label}}</label>
                    <input type="date" id="dateField">
                    <label for="optionsField" ng-switch-when="OPTIONS">{{field.label}}</label>
                    <select ng-repeat="op in field.options" ng-switch-when="OPTIONS" id="optionsField">
                        <option value="op.value">{{op.label}}</option>
                    </select>
                    <label ng-repeat="op in field.options" ng-switch-when="CHECKBOXES">
                        <input type="checkbox" ng-model="op.value" value="op.label">
                    </label>
                    <label ng-repeat="op in field.options" ng-switch-when="RADIOS">
                        <input type="radio" ng-model="op.value" value="op.label">
                    </label>
                </div>
            </div>
            <div class="col-xs-7" align="right">
                <button class="glyphicon glyphicon-pencil" data-toggle="modal" data-target="#myModal" aria-hidden="true"></button>
                <button class="glyphicon glyphicon-plus " aria-hidden="true"></button>
                <button ng-click="removeField(field)" class="glyphicon glyphicon-remove " aria-hidden="true"></button>
                <button class="glyphicon glyphicon-menu-hamburger " aria-hidden="true"></button>
            </div>
            <!-- Modal -->
            <div id="myModal" class="modal fade" role="dialog">
                <div class="modal-dialog">
                    <!-- Modal content-->
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal">&times;</button>
                            <h4 class="modal-title" ng-switch-when="TEXT">Single Line Field</h4>
                            <h4 class="modal-title" ng-switch-when="TEXTAREA">Multi Line Field</h4>
                            <h4 class="modal-title" ng-switch-when="DATE">Date Field</h4>
                            <h4 class="modal-title" ng-switch-when="OPTIONS">Dropdown Field</h4>
                            <h4 class="modal-title" ng-switch-when="CHECKBOXES">Checbox Field</h4>
                            <h4 class="modal-title" ng-switch-when="RADIOS">Radio Button Field</h4>
                        </div>
                        <div class="modal-body">
                            <label for="modalTextBox">Label:</label>
                            <input id="modalTextBox" ng-switch-when="TEXT" type="text" ng-model="field.label">
                            <label for="modalTextBox1">Placeholder:</label>
                            <input id="modalTextBox1" ng-switch-when="TEXT" type="text" ng-model="field.placeholder">

                            <!--TEXTAREA-->
                            <label for="modalTextBox2">Label:</label>
                            <input id="modalTextBox2" ng-switch-when="TEXT" type="text" ng-model="field.label">
                            <label for="modalTextBox3">Placeholder:</label>
                            <input id="modalTextBox3" ng-switch-when="TEXT" type="text" ng-model="field.placeholder">

                            <!--Date-->
                            <label for="modalDate">Label:</label>
                            <input id="modalDate" ng-switch-when="DATE" type="text" ng-model="field.label">

                            <!--Dropdown Field-->
                            <label for="modalDropdown">Label:</label>
                            <input id="modalDropdown" ng-switch-when="OPTIONS" type="text" ng-model="field.label" placeholder="Select Car Model">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <hr>
        <label for="options">Add New Field:</label>
        <div class="row">
            <div class="form-group col-xs-5">
                <select id="options" class="form-control" ng-model="model.fieldType">
                    <option selected="selected"><a href="#">Single Line Text</a></option>
                    <option><a href="#">Date</a></option>
                    <option><a href="#">DropDown</a></option>
                    <option><a href="#">Checkboxes</a></option>
                    <option><a href="#">Radio buttons</a></option>
                    <option><a href="#">Paragraph Text Field</a></option>
                </select>
            </div>
            <div class="col-xs-7" align="right">
                <button ng-click="addField(model.fieldType)" class="glyphicon glyphicon-plus "
                        aria-hidden="true"></button>
            </div>
        </div>
    </div>
</div>




</div>

</body>
</html>