<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Details</title>
</head>
<body ng-controller="DetailsController">
<div id="cardetails" class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
    <div id="mileage" ng-if="model.instance.MileageDescription"><img ng-src="../project/client/images/tick.jpg"
                                                                     height="25px" width="20px"> Mileage
        {{model.instance.MileageDescription}}
    </div>
    <div id="airport" ng-if="model.instance.PickupAirport"><img ng-src="../project/client/images/tick.jpg" height="25px"
                                                                width="20px"> {{model.instance.PickupAirport}} Airport
    </div>
    <div id="location" ng-if="model.instance.LocationDescription"><img ng-src="../project/client/images/tick.jpg"
                                                                       height="25px" width="20px">
        {{model.instance.LocationDescription}}
    </div>

    <div id="dailyrate">${{model.instance.DailyRate}} / day</div>

    <div id="carimg"><img ng-src="{{model.instance.carImage}}"></div>
    <div id="pickup">PickUp: {{model.instance.PickupDay}}</div>
    <div id="dropoff">DropOff: {{model.instance.DropoffDay}}</div>

    <div class="search-form">
        <div class="panel panel-warning">
            <div class="panel panel-heading">Review & Confirm</div>
            <div class="panel panel-body">
                <div>
                    <dl class="dl-horizontal">
                        <dt>Rental Days</dt>
                        <dd>{{model.instance.RentalDays}}</dd>
                        <dt>DailyRate</dt>
                        <dd>${{model.instance.DailyRate}}</dd>
                        <dt>SubTotal</dt>
                        <dd>${{model.instance.SubTotal}}</dd>
                        <dt>TaxesAndFees</dt>
                        <dd>${{model.instance.TaxesAndFees}}</dd>
                        <dt>TotalPrice</dt>
                        <dd>${{model.instance.TotalPrice}}</dd>
                    </dl>
                </div>
                <div>
                    <button class="btn btn-success btn-block" ng-click="model.reserve()">Reserve</button>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>