<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Search HOTWIRE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="col-md-4 transparent-input">
    <!--<img class="" ng-src="http://www.siyabona.com/images/budget-car-hire.jpg"/>-->
    <form class="">
    <div class="form-group">
        <label for="location">Location:</label>
        <input type="text" id="location" ng-model="request.dest" class="form-control" placeholder="Location" required>
    </div>
        <div class="row">
    <div class="form-group col-md-6">
        <label for="pickupDate">Pick up:</label>
        <input type="text" id="pickupDate" ng-model="request.startdate" class="form-control" placeholder="Start: MM/DD/YYYY" required>
    </div>
        <div class="form-group col-md-6">
            <label for="pickupTime">at:</label>
            <input type="text" id="pickupTime" ng-model="request.pickuptime" class="form-control" placeholder="HH:MM" required>
        </div>
        </div>
        <div class="row">
    <div class="form-group col-md-6">
        <label for="dropOffDate">Drop off:</label>
        <input type="text" id="dropOffDate" ng-model="request.enddate" class="form-control" placeholder="End: MM/DD/YYYY" required>
    </div>
        <div class="form-group col-md-6">
            <label for="dropoffTime">at:</label>
            <input type="text" id="dropoffTime" ng-model="request.dropofftime" class="form-control" placeholder="HH:MM" required>
        </div>
            </div>
    <button ng-click="pingAPI(request)" type="submit" class="form-control btn btn-primary btn-block ng-scope">Find cars</button>
</form>
</div>
<div class="col-md-6" ng-controller="SearchController">
    <h1 class="page-header">Hotwire Rentals API Response</h1>
    <ul class="nav nav-tabs">
        <li role="presentation"><a href="#/users">Renter</a></li>
        <li role="presentation"><a href="#/vehicles">Vehicle</a></li>
        <li role="presentation"><a href="#/reservations">Reservation</a></li>
        <li role="presentation"><a href="#/tellers">Teller</a></li>
        <li class="active" role="presentation"><a href="#">Search</a></li>
    </ul>
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <!--<th><span class="caret"></span>LocationDescription</th>
                <th><span class="caret"></span>DailyRate</th>-->
                <th><span class="caret"></span>CarTypeCode</th>
                <th><span class="caret"></span>RefNumber</th>
               <!-- <th><span class="caret"></span>MileageDescription</th>
                <th><span class="caret"></span>TotalPrice</th>
                <th><span class="caret"></span>HotwireRef</th>-->
            </tr>
            <tr ng-repeat="instance in instances">
                <!--<td>{{instance.LocationDescription}}</td>
                <td>{{instance.DailyRate}}</td>-->
                <td>{{instance.code}}</td>
                <td>{{instance.HwRefNumber}}</td>
                <!--<td>{{instance.MileageDescription}}</td>
                <td>{{instance.TotalPrice}}</td>
                <td><a href="{{instance.DeepLink}}">Hotwire</a></td>-->
            </tr>
        </table>

        <ul ng-repeat="error in errors">
            <li>{{error.ErrorMessage}}</li>
        </ul>
    </div>
</div>
</body>
</html>