<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>User</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main" ng-controller="UserController">
    <h1 class="page-header">Renter</h1>
    <!--<ul class="nav nav-tabs">
        <li class="active" role="presentation"><a href="#">Renter</a></li>
        <li role="presentation"><a href="#/vehicles">Vehicle</a></li>
        <li role="presentation"><a href="#/reservations">Reservation</a></li>
        <li role="presentation"><a href="#/tellers">Teller</a></li>
        <li role="presentation"><a href="#/search">Search</a></li>
    </ul>-->
    <div class="table-responsive">
        <table class="table table-striped">
            <tr>
                <th><span class="caret"></span>Full Name</th>
                <th><span class="caret"></span>Renter Id</th>
                <th><span class="caret"></span>Nationality</th>
                <th><span class="caret"></span>City</th>
                <th><span class="caret"></span>Email</th>
                <th><span class="caret"></span>Contact</th>
                <th><span class="caret"></span>Birthdate</th>
                <th><span class="caret"></span>Username</th>
                <th><span class="caret"></span>Password</th>
            </tr>
            <tr>
                <td><input type="text" ng-model="user.fullName" class="form-control" placeholder="name"></td>
                <td><input type="text" ng-model="user.id" class="form-control" placeholder="Identifier Number"></td>
                <td><input type="text" ng-model="user.nationality" class="form-control" placeholder="Nationality"></td>
                <td><input type="text" ng-model="user.city" class="form-control" placeholder="City"></td>
                <td><input type="email" ng-model="user.email" class="form-control" placeholder="Email"></td>
                <td><input type="text" ng-model="user.mobilenumber" class="form-control" placeholder="Mobile Number"></td>
                <td><input type="date" ng-model="user.birthdate" class="form-control" data-date-format="MM/DD/YYYY"placeholder="BirthDate"></td>
                <td><input type="text" ng-model="user.username" class="form-control" placeholder="BirthDate"></td>
                <td><input id="password" type="password" ng-model="user.password" class="form-control" placeholder="BirthDate"></td>
                <td>
                    <button ng-click="addForm(user)" type="submit" class="btn btn-primary">
                        Add</span>
                    </button>
                    <button ng-click="updateForm(user)" type="button">
                        <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                    </button>
                </td>
            </tr>
            <tr ng-repeat="user in users">
                <td>{{user.fullName}}</td>
                <td>{{user.id}}</td>
                <td>{{user.nationality}}</td>
                <td>{{user.city}}</td>
                <td>{{user.email}}</td>
                <td>{{user.mobilenumber}}</td>
                <td>{{user.birthdate}}</td>
                <td>{{user.username}}</td>
                <td>{{user.password}}</td>
                <td>
                    <button ng-click="deleteForm($index)">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                    <button ng-click="selectForm($index)">
                        <span class="glyphicon glyphicon-pencil"></span>
                    </button>
                </td>
            </tr>
        </table>
    </div>
</div>

</body>
</html>