<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Welcome!</title>
</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container-fluid" ng-controller="HeaderController as model">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/home">Grab A Car!</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-class="{'active': model.$location.url()=='/register'}">
                    <a href="#/register" ng-hide="user">Register</a></li>
                <li ng-class="{'active': model.$location.url()=='/login'}">
                    <a href="#/login" ng-hide="user"> Login </a></li>

                <li ng-class="{'active': model.$location.url()=='/profile'}">
                    <a href="#/profile/{{user._id}}" ng-show="user.rentername"> {{user.rentername}} </a></li>
                <li ng-class="{'active': model.$location.url()=='/telleraccount'}">
                    <a href="#/telleraccount/{{user._id}}" ng-show="user.username"> {{user.username}} </a></li>
                <li>
                    <a href="#/login" ng-click="model.logout()" ng-show="user"> Logout </a></li>
            </ul>
            <div class="col-sm-3 col-md-3 pull-right" ng-show="user.username">
                <form class="navbar-form" role="search">
                    <div class="input-group">
                        <input type="text" class="form-control" ng-model="model.searchRentername" placeholder="Search"
                               name="srch-term" id="srch-term">
                        <span class="input-group-btn">
                            <button class="btn btn-default" ng-click="model.redirectToRenters(model.searchRentername)"
                                    type="submit"><span
                                    class="glyphicon glyphicon-search"></span>
                            </button>
                        </span>
                    </div>
                </form>
            </div>
            <ul class="nav navbar-nav navbar-right visible-xs">
                <li ng-class="{'active': $location.url()=='/search'}">
                    <a href="#/search"> Find cars</a></li>
                <li ng-class="{'active': $location.url()=='/admin'}">
                    <a href="#/admin" ng-show="user.roles.indexOf('admin') >= 0"> Approve New Renters </a></li>
                <li ng-class="{'active' : $location.url()=='/renter'}"><a href="#/renter"> Renter </a></li>
                <li ng-class="{'active': $location.url()=='/teller'}">
                    <a href="#/teller">Teller</a></li>
                <li ng-class="{'active': $location.url()=='/reservation'}">
                    <a href="#/reservation"> Reservation </a></li>
                <li ng-class="{'active': $location.url()=='/vehicle'}">
                    <a href="#/vehicle"> Vehicle </a></li>
            </ul>
        </div>
    </div>
</nav>
</body>
</html>