<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>My reservations</title>
</head>
<body ng-controller="MyReservationsController">
<div id="cardetails" class="container main">
    <div id="mileage" ng-if="model.instance.mileagedescription"><img ng-src="../project/client/images/tick.jpg" height="25px" width="20px"> Mileage
        {{model.instance.mileagedescription}}
    </div>
    <div id="airport" ng-if="model.instance.pickupairport"><img ng-src="../project/client/images/tick.jpg" height="25px"
                                                          width="20px"> {{model.instance.pickupairport}} Airport
    </div>
    <div id="location" ng-if="model.instance.locationdescription"><img ng-src="../project/client/images/tick.jpg" height="25px" width="20px">
        {{model.instance.locationdescription}}
    </div>

    <div id="dailyrate">${{model.instance.dailyrentfee}} / day</div>

    <div id="carimg"><img ng-src="{{model.instance.carimage}}"></div>
    <div id="pickup">PickUp: {{model.instance.rentdate | date:"MM/dd/yyyy"}}, {{model.instance.pickuptime}}</div>
    <div id="dropoff">DropOff: {{model.instance.returndate | date:'MM/dd/yyyy'}}, {{model.instance.returntime}}</div>

    <div class="search-form">
        <div class="panel panel-warning">
            <div class="panel panel-heading">Status: {{model.instance.status}}</div>
            <div class="panel panel-body">
                <div>
                    <dl class="dl-horizontal">
                        <dt>Rental Days</dt>
                        <dd>{{model.instance.totalrentday}}</dd>
                        <dt>DailyRate</dt>
                        <dd>${{model.instance.dailyrentfee}}</dd>
                        <dt>SubTotal</dt>
                        <dd>${{model.instance.subtotal}}</dd>
                        <dt>TaxesAndFees</dt>
                        <dd>${{model.instance.taxesandfees}}</dd>
                        <dt>TotalPrice</dt>
                        <dd>${{model.instance.totalprice}}</dd>
                    </dl>
                    <div>
                        <button class="btn btn-danger" ng-show="model.canBeCancelled" ng-click="model.cancel()">Cancel</button>
                    </div>
                    <label ng-show="!model.canBeCancelled">{{model.CancellationInfo}}</label>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>